@font-face{
	font-family: "TT Lakes";
	font-style: normal;
	font-weight: normal;
	src: local("TT Lakes"),
		url("../fonts/TTLakes/TTLakes-Regular.ttf") format("ttf"),
		url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
		url("../fonts/TTLakes/TTLakes-Regular.eot") format("eot");
}

@font-face{
	font-family: "TT Lakes";
	font-style: normal;
	font-weight: bold;
	src: local("TT Lakes"),
		url("../fonts/TTLakes/TTLakes-Bold.ttf") format ("ttf"),
		url("../fonts/TTLakes/TTLakes-Bold.woff") format ("woff"),
		url("../fonts/TTLakes/TTLakes-Bold.eot") format ("eot");
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav, footer, header, aside{
	display: block;
}

html, body{
	height: 100%;
	width: 100%;
	font-family: "TT Lakes";
	color: #1B1C21;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

input, button, textarea{
	font-family: inherit;
}

button{
	cursor: pointer;
}

button::-moz-focus-inner{
	padding: 0;
	border: 0;
}

a, a:visited{
	text-decoration: none;
}

ul li{
	list-style: none;
}

img{
	vertical-align: top;
}



.header__container{
	min-width: 320px;
	
}

.header__menu{
	min-height: 88px;
}

.menu__list{
	display: flex;
	justify-content: space-between;
	padding: 16px;
	align-items: center;
}

.menu__item{
	align-self: center;
	margin-right: 16px;
}

.menu__item:last-child{
	margin-right: 0;
}

.menu__item:nth-child(2){
	margin-right: auto;
}



.menu__btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FF3E79;
}



.menu__item:nth-child(2):after{
	display: inline-block;
	content: "";
	width: 2px;
	height: 32px;
	border-radius: 1px;
	background-color: #eaeaea;
	vertical-align: middle;
	position: relative;
	left: 16px;
	top: 13px;
}


.menu__item:nth-child(3), .menu__item:nth-child(4), .menu__item:nth-child(5){
	display: none;
}


.menu__logo-btn{
	background-color: #fff;
}

.header__menu:after{
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background-color: #D9FFF5;
}

.btn__label{
	display: none;
	margin-right: 8px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}

.page__page-title{
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: -0.6px;
	vertical-align: middle;
	margin-left: 16px;
}

.page__page-title:before{
	content: "";
	display: inline-block;
	width: 4px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	background-color: #41F6D7;
	position: relative;
	right: 16px;
	top: 10px;
}

.navigation__selectors{
	display: flex;
	justify-content: flex-start;
	overflow: scroll;
	white-space: pre;
	align-items: center;
	font-size: 16px;
	color: #7E7E82;
	letter-spacing: -0.2px;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 16px;
	line-height: 20px;
}

.navigation__selectors a{
	color: #7E7E82;
}

.selectors__selector, .selectors__selector_active{
	margin-right: 28px;
}

.selectors__selector_active{
	border: solid 2px #b8ffec;
	padding: 8px;
	padding-left: 16px;
	padding-right: 9px;
	border-radius: 6px;
}

.navigation__selectors::-webkit-scrollbar{
	display: none;
}

.page-content__article{
	display: flex;
	flex-direction: column;
}

.article__text{
	line-height: 18px;
	letter-spacing: 0.2px;
}

.text__box{
	max-height: 90px;
	margin: 0 16px 16px 16px;
	overflow: hidden;
}


.article__img{
	width: 100%;
	height: auto;
	object-fit: contain;
}

.article__img img{
	width: 100%;
}

.expand-btn{
	background-color: #fff;
	align-self: flex-start;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	font-weight: bold;
	margin-left: 16px;
	margin-bottom: 16px;

}

.expand-btn:before{
	content: url("../img/expand.svg");
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

@media (min-width: 768px){
	
	.menu__item:nth-child(3), .menu__item:nth-child(4), .menu__item:nth-child(5){
		display: inline;
	}
	
	.menu__item:nth-child(2):after{
		display: none;
		content: "";
		width: 2px;
		height: 32px;
		border-radius: 1px;
		background-color: #eaeaea;
		vertical-align: middle;
		position: relative;
		left: 16px;
		top: 13px;
	}
	
	.menu__item:nth-child(1):after, .menu__item:nth-child(5):after{
		display: inline-block;
		content: "";
		width: 2px;
		height: 32px;
		border-radius: 1px;
		background-color: #eaeaea;
		vertical-align: middle;
		position: relative;
		left: 16px;
		margin-right: 16px;
	}
	
	.menu__list{
		padding-right: 40px;
		padding-left: 24px;
	}
	
	.header__menu:after{
		width: 98%;
	}
	
	.page__page-title{
		margin-left: 24px;
	}
	
	.page__page-title:before{
		right: 24px;
	}

	.navigation__selectors{
		margin-left: 24px;
	}
	
	.page-content__article{
		flex-direction: row;
		justify-content: space-between;
		gap: 38px;
	}
	
	.text__box{
		margin-left: 24px;
		max-height: 145px;
	}
	
	.article__img{
		min-width: 45%;
		margin-right: 40px;
	}
	
	.article__img img{
		border-radius: 6px;
	}
}

@media (min-width: 1120px){

	
	.menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(4), .menu__item:nth-child(5){
		display: none;
	}
	
	.menu__list{
		justify-content: flex-end;
		padding: 0;
	}
	
	.btn__label{
		display: inline;
	}
	.header__menu:after{
		display: none;
	}
	
	.header__container{
		margin: 40px 32px 0 32px;
	}
	
	.page__page-title{
		position: absolute;
		top: 30px;
		left: 32px;
		margin: 0;
		vertical-align: middle;
	}
	
	.navigation__selectors{
		margin-top: 0;
	}
	
	.page__page-title:before{
		right: 32px;
	}
	
	.navigation__selectors{
		margin-top: 0;
	}
	
	.navigation__selectors{
		margin-left: 32px;
	}
	
	.navigation__selectors{
		flex-wrap: wrap;
	}
	
	.article__img{
		margin-right: 32px;
	}
	
	.text__box{
		max-height: 160px;
	}
}

