@font-face{
	font-family: "TT Lakes";
	font-style: normal;
	font-weight: normal;
	src: local("TT Lakes"),
		url("fonts/TTLakes/TTLakes-regular.ttf");
}

@font-face{
	font-family: "TT Lakes";
	font-style: normal;
	font-weight: bold;
	src: local("TT Lakes"),
		url("fonts/TTLakes/TTLakes-Bold.ttf");
}

body{
	font-family: "TT Lakes";
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	color: #1B1C21;
}

.container{
	margin: 0;
	padding: 0;
	min-width: 320px;
	background-color: #f8f8f8;
	overflow: hidden;
}

h1{
	font-weight: bold;
	margin-left: 16px;
}

h1:before{
	content:"";
	width: 4px;
	height: 40px;
	background-color: #41F6D7;
	border-radius: 0 4px 4px 0;
	position: absolute;
	left: 0px;
	top: 95px;
}

.menu__item:nth-child(2), .menu__item:nth-child(4), .menu__item:nth-child(5), .menu__item:nth-child(6), .menu__item:nth-child(7), .menu__item:nth-child(9), .menu__item:nth-child(11){
	display: none;
}

.header__container{
	height: 88px;
	align-items: center;
}

header{
	height: 88px;
}

.navigation__menu{
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
}

.menu__item{
	margin-right: 16px;
	align-self: center;
}
.menu__item:last-child{
	margin-right:0;
}

.header-divider{
	position: relative;
	bottom: 20px;
}

.contentselectors__selector:nth-child(1){
	border: solid 2px #b8ffec;
	padding: 8px;
	padding-left: 16px;
	padding-right: 9px;
	border-radius: 6px;
}

.pagecontent__contentselectors{
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	overflow: scroll;
	white-space: pre;
	align-items: center;
	margin: 0;
	font-size: 16px;
	color: #7E7E82;
	letter-spacing: -0.2px;
}

.pagecontent__contentselectors::-webkit-scrollbar{
	display: none;
}

.contentselectors__selector{
	margin-right: 28px;
}

.article__text{
	padding: 16px;
}

.text__par-one, .text__par-two{
	display: none;
}

.expand-btn{
	align-items: center;
}

.expand-img{
	margin-right: 16px;
	margin-left: 8px;
}

.article{
	display: flex;
	flex-direction: column;
}

.article__picture img{
	width: 100%
}

.expand{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: -0.2px;
	line-height: 24px;
}

@media (min-width: 768px){
  
	.menu__item:nth-child(2), .menu__item:nth-child(4), .menu__item:nth-child(5), .menu__item:nth-child(6), .menu__item:nth-child(7){
		display: inline;
	}

	.menu__item:nth-child(4){
		display: none;
	}

	.menu__item:nth-child(3){
		margin-right: 33%;
	}
	
	.menu__item:last-child{
		margin-right: 40px;
	}
	
	.menu__item:first-child{
		margin-left: 20px;
	}

	.navigation__menu{
		justify-content: space-between;
	}
	
	h1{
		padding-left: 10px;
	}
  
	.article{
		flex-direction: row;
		justify-content: space-between;
	}
  
	.article__text{
		min-width: 320px;
		max-width: 50%;
		padding: 0 24px;
	}
  
	.article__picture{
		padding: 20px;
		margin-right: 20px;
	}
	
	.article__picture img{
		border-radius: 6px;
		width: 100%;
	}
  
	.text__par-one{
		display: block;
	}
  
	.header-divider{
		width: 98%;
	}
	
	.container{
		margin
	}
}

@media (min-width: 1120px){
	.menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(4), .menu__item:nth-child(5), .menu__item:nth-child(6), .menu__item:nth-child(7), .menu__item:nth-child(8) {
		display: none;
	}
	
	.menu__item:nth-child(9), .menu__item:nth-child(11){
		display: inline;
		font-weight: bold;
		line-height: 24px;
	}
	
	.navigation__menu{
		justify-content: flex-end;
	}
	
	.header__navigation{
		align-self: flex-end;
	}
	
	.menu__item:nth-child(11){
		margin-left: 32px;
	}
	
	.header-divider{
		display: none;
	}
	
	header{
		position: absolute;
		right: 0px;
		margin-top: 30px;
	}
	
	main{
		position: relative;
		top: 35px;
	}
	
	h1{
		padding-left: 20px;
	}
	
	h1:before{
	content:"";
	width: 4px;
	height: 40px;
	background-color: #41F6D7;
	border-radius: 0 4px 4px 0;
	position: absolute;
	left: 0px;
	top: -10px;
}
	
	.pagecontent__contentselectors{
		flex-wrap: wrap;
	}
	
	.article__text{
		padding: 0 34px;
	}
	
	.text__par-two{
		display: block;
	}
}
