.menu__btn {
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.btn__img {
	display: flex;
	flex-direction: column;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FF3E79;
	align-items: center;
	justify-content: center;
}

.btn__img:hover {
	opacity: 0.6;
	transition: 0.5s;
}

.menu__logo-btn {
	background-color: #fff;
}

.btn__label {
	display: none;
	margin-right: 8px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}

.swiper-btn__img {
	display: flex;
	flex-direction: column;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #FF3E79;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.swiper-expand-btn {
	display: none;
	background-color: #fff;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	font-weight: bold;
}


.swiper-expand-btn:before {
	content: url("../img/expand.svg");
	display: none;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.shrink-btn {
	display: flex;
	align-items: center;
}

.shrink-btn::before {
	display: inline-block;
}

.swiper-slide__link:hover .swiper-btn__img {
	opacity: 0.5;
	transition: 0.5s;
}

.device-type-slide__link:hover .swiper-btn__img {
	opacity: 0.5;
	transition: 0.5s;
}

.price-btn-label {
	font-size: 12px;
	line-height: 24px;
	text-align: right;
	letter-spacing: -0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.price-btn__img {
	width: 119px;
	height: 32px;
	background-color: #FF3E79;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 12px;
	position: absolute;
	bottom: 16px;
	right: 16px;
	transition: 0.5s;
}

.price-btn__img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.shrink-btn {
	display: none;
	background-color: #fff;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	font-weight: bold;
}

.shrink-btn::before {
	content: url("../img/expand.svg");
	display: none;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	transform: rotate(180deg);
}

.offer {
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	font-weight: bold;
	align-self: flex-start;
	text-align: left;
}

.offer::after {
	content: url("../img/dropdown.svg");
	display: inline-block;
	vertical-align: middle;
	margin-left: 9px;
}

.feedback-modal__btn-img {
	width: 136px;
	height: 32px;
	background-color: #FF3E79;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 12px;
	transform: 0.5s;
}

.feedback-modal__btn-img:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.feedback-modal__label {
	font-size: 12px;
	line-height: 24px;
	text-align: right;
	letter-spacing: -0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.callback-modal__btn-img {
	width: 136px;
	height: 32px;
	background-color: #FF3E79;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 12px;
}

.callback-modal__label {
	font-size: 12px;
	line-height: 24px;
	text-align: right;
	letter-spacing: -0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
}

@media (min-width: 768px) {
	.swiper-expand-btn {
		display: flex;
		align-items: center;
	}

	.swiper-expand-btn:before {
		display: inline-block;
	}

	.price-btn__img {
		position: static;
	}
}

@media (min-width: 1440px) {
	.btn__label {
		display: inline;
	}
}