.page-footer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	padding: 19px 4px;
}

.page-footer__section {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #7E7E82;
	mix-blend-mode: normal;
	opacity: 0.72;
}

.page-footer__link {
	color: #7E7E82;
}

@media (min-width: 768px) {
	.page-footer {
		flex-direction: row;
		justify-content: space-between;
		height: 60px;
		padding: 25px 24px;
	}

	.page-footer__section:first-child {
		text-align: left;
	}

	.page-footer__section:last-child {
		width: 213px;
		text-align: right;
	}
}

@media(min-width: 1440px) {
	.page-footer__section:last-child {
		width: 330px;
	}
}