.page__page-title {
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: -0.6px;
	vertical-align: middle;
	margin-left: 16px;
}

.page__page-title:before {
	content: "";
	display: inline-block;
	width: 4px;
	height: 40px;
	border-radius: 0 3px 3px 0;
	background-color: #41F6D7;
	position: relative;
	right: 16px;
	top: 10px;
}

.navigation__selectors {
	display: flex;
	justify-content: flex-start;
	overflow: scroll;
	align-items: center;
	font-size: 16px;
	color: #7E7E82;
	letter-spacing: -0.2px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 16px;
	line-height: 20px;
	column-gap: 35px;
	row-gap: 15px;
	white-space: pre;
}

.navigation__selector {
	align-items: center;
}

.navigation__selectors .navigation__link {
	color: #7E7E82;
	border: solid 2px transparent;
	padding: 8px 7px;
	align-self: center;
	transition: 0.3s;
}

.navigation__link:hover {
	border-color: #b8ffec;
	border-radius: 6px;
	transition: 0.3s;
}

.navigation__selectors::-webkit-scrollbar {
	display: none;
}

@media (min-width: 768px) {
	.page__page-title {
		margin-left: 24px;
	}

	.page__page-title:before {
		right: 24px;
	}

	.navigation__selectors {
		padding-left: 24px;
	}
}

@media (min-width: 1440px) {

	.page {
		position: relative;
		width: 1120px;
	}

	.page__page-title {
		position: absolute;
		top: -65px;
		left: 32px;
		margin: 0;
		vertical-align: middle;
	}

	.page__page-title:before {
		right: 32px;
	}

	.navigation__selectors {
		padding-top: 15px;
	}

	.navigation__selectors {
		padding-left: 32px;
	}

	.navigation__selectors {
		flex-wrap: wrap;
	}
}