@import "colors.scss";

.callback-modal {
	width: 0;
	height: 100vh;
	background-color: $white;
	position: absolute;
	top: 0;
	right: -320px;
	box-shadow: -15px 0 25px -11px $shadow;
	transition: all 0.5s;
	z-index: 20;
	visibility: collapse;

	@media (min-width: 1440px){
		width: 0;
		transform: translateX(800px);
	}

	&__close-btn{
		@media (min-width: 1440px){
			position: absolute;
			top: 32px;
			left: -65px;
		}
	}

	&--opened{
		width: 320px;
		transform: translateX(-320px);
		transition: transform 0.5s;
		visibility: visible;

		@media (min-width: 1440px){
			width: 440px;
			transform: translateX(-320px);
			visibility: visible;
		}
	}
}
